body {
  font-family: Arial;
  background: #f4f7f9;
  text-align: center;
}

h1 {
  color: #2c3e50;
}

.container {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
}

input, textarea {
  width: 90%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #219150;
}

#response {
  margin-top: 10px;
  font-weight: bold;
}

#successMsg {
  color: green;
}n